package components

templ Page404() {
     <div class="go-back">
        <a href="/" target="_self" class="link-icon">
            <h3> > Go Back</h3>
        </a>
    </div>
    <h1>404</h1>
    <p>that is not a page! you should go back.</p>
}
