package components

templ Header(name string) {
    <head>
        <meta charset="UTF-16">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{name}</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    </head>
}
