package components

import "resume/main/models"

templ ProjectCard(project models.Project) {
    <a href={templ.URL(project.RepoLink)} target={project.Target}>  
        <div class="project-card">  
                <h3>{project.Name}</h3>
                <p>{project.Desc}</p>
        </div>
    </a>
}
