package components

templ ProjectPage(page templ.Component) {
     <div class="go-back">
        <a href="/" target="_self" class="link-icon">
            <h3> > Go Back</h3>
        </a>
    </div>
    @page
}
